p { font-family: Verdana, sans-serif; }
h1 { 
    font-family: 'Marko One', serif; 
    font-size: 1.5em;
    color: #993399;
    text-shadow: #D3D3D3 .0em .2em ;
}
span.price {
    font-family: Georgia, sans-serif;
    color: #808080;
}
h2 {
    font-size: 1em;
    color: #CC6600;
    text-align: center;
    letter-spacing: 4px;
}
dt {
    color: #A0522D
}
p.warning {
    font-size: 0.7em;
    color: #FF0000;
    
}
strong {
    color: #FF6347 ;
}

li.c4 {
    font-size: 2em;
    list-style-image: url(images/bull.PNG);
    list-style-position: outside;
}

body {
    background-color: #D2DC9D;
    background-image: url(images/blackgoose.png);;
    background-position: 50% 60%;
    background-repeat: no-repeat;
}
#div1 {
    text-align: center;
    background-color: white; 
    opacity: 0.50;
    background-image: url(images/purpledot.png),url(images/purpledot.png),url(images/goose_shadow.png);
    background-position: left top, right top, 90% 100%;
    background-size: 20px 20px ,20px 20px, 40px 50px;
    background-repeat: repeat-y,repeat-y,no-repeat;
}
#appetizers > ul > li >a {text-decoration: none;}
#appetizers > ul > li >a:link {color: #993399}
#appetizers > ul > li >a:visited {color:#937393}
#appetizers > ul > li >a:hover {color: #C700F2; background-color: #FFC0CB;}

